
  
  
  .dashboard {
    display: inline-flex;
    padding: 10px 30px 10px 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
    margin-left: 17px;
    color: aliceblue;
  }
  
